<div class="modal fade" id="booking_modal" tabindex="-3" role="dialog" aria-labelledby="booking_modal_label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Book your lesson</h4>
      </div>
      <div class="modal-body">
        <div class="booking_form_container">

        </div> <!-- end of booking_form_container -->
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>