
  <% if teacher_signed_in? %>  
    <div class="modal fade" id="the_one_modal" tabindex="-1" role="dialog" aria-labelledby="the_one_modal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="the_one_modal_title">Lets get you learning</h4>
          </div>
          <div class="modal-body">
            <div class="container-fluid">   <%# teacher.js for form submisson on change %>
              <%# text_field_tag :id, @subject.name, class: 'form-control', disabled: true %>

              <%# if teacher has home booking and locations %>
              <% if @teacher.prices.any? { |p| p.no_map == true && p.subject_id == @subject.id } && \
                  @teacher.prices.any? { |p| p.location_id != nil && p.subject_id == @subject.id } %>

                <%= render partial: 'partials/show_teacher/user_cart_forms/home_and_location' %>

              <%# elsif teacher only has home prices %>
              <% elsif !@teacher.prices.any? { |p| p.location_id != nil && p.subject_id == @subject.id } %>
                
                <%= render partial: 'partials/show_teacher/user_cart_forms/home_only' %>
                
              <%# teacher only has location entries for this subject %>
              <% else %>

                <%= render partial: 'partials/show_teacher/user_cart_forms/location_only' %>

              <% end %> 
              <div class="errors_container">

              </div> <!-- end of errors_container -->
            </div> <!-- end of container-fluid -->
          </div> <!-- end of modal-body -->
        </div> <!-- end of modal-content -->
      </div> <!-- end of modal-dialog -->
    </div> <!-- end of modal fade -->
  <% end %> <!-- if teacher_signed_in? -->
