<% cache [current_teacher, @teacher, 'the_one_modal'] do %>
  <% if teacher_signed_in? %>  
    <div class="modal fade" id="the_one_modal" tabindex="-1" role="dialog" aria-labelledby="the_one_modal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="the_one_modal_title">Lets get you learning</h4>
          </div>
          <div class="modal-body">
            <div class="container-fluid">   <%# teacher.js for form submisson on change %>
                <%= form_tag get_locations_path, remote: true, method: 'post' do %>
                  <%= select 'subject', 'id', content_tag(:option,'select subject...',:value=>"")+options_from_collection_for_select(@teacher.subjects, 'id', 'name'), { }, { class: 'form-control select_subject' } %>
                  <input type="hidden" name="subject[teacher_id]" value="<%= @teacher.id %>">
                <% end %>
                <%# select 'location', 'id', options_for_select([['Home lesson', 1], ['Teachers house', '2']]), { include_blank: true }, { class: 'form-control select_location'} %>
                 <%# teachers helper %>
                <input type="hidden" name="Select subject" value="<%= @teacher.id %>" id="select_subjects_teacher_id">
                <div class="returned_locations_container">
                  <!-- ajax -->
                </div> <!-- end of returned_locations_container -->
                <div class='display_teachers_location'>
                  <!-- ajax -->
                </div>
                <div class="payment_form_container">
                  
                  <!-- ajax -->
                </div> <!-- end of payment_form_container -->

            </div> <!-- end of container-fluid -->
          </div> <!-- end of modal-body -->
        </div> <!-- end of modal-content -->
      </div> <!-- end of modal-dialog -->
    </div> <!-- end of modal fade -->
  <% end %> <!-- if teacher_signed_in? -->
<% end %> <%# end of cache %>