* { float: none !important; }
#canvas { height: 100%! important; }
#wrapper { height: 90%! important; }

.default_bg, .box_furtherOptions, .box_top_furtherOptions, .box_furtherOptions, .body {Background: none;}

.banners, #footer, #footerContainer, .menu, .SnailTrail, .onlineBanking, #onlineBanking, .box_furtherOptions, .box_demoText, .logoutWrapper, .demotable, #quickLinks, #strapline, #minorLinks, .box_contentPod_966, .topHeaderWrapper, .globalBottomNavWrapper, .bottomHeaderRightWrapper { display: none; }

#mid, #content{ width: 585px! important; }
.wizard #content, .wizard #mid {clear: both;}

.itemtable, .ssbox .ItemTable, .wizard .ItemTable, .ssbox {width: 560px! important; position:static; overflow: visible; padding-left: 10px;}
.ssbox {border: none! important; }
.oirbox {border: none! important; }
.ssbbox {border: none! important; }

.modalPopup { position: static !important; width: auto !important; margin: 0em !important; top: auto !important; left: auto !important; min-height: 0px !important; }
.sgs .box_wrapper, .sgs .footer { width: auto !important; }
.sgsTracker .content .leftColumn, .sgsTracker .content .rightColumn { float: none !important; width: auto !important; }
.sgs .content { overflow: visible !important; }
.sgs .leftColumn, .sgs .box_leftColumn, 
.sgs .rightColumn, .sgs .box_rightColumn 
	{ min-height: inherit !important; float: none !important; width: auto !important; height: inherit !important; }
.lightboxBackground { display: none !important; overflow: visible !important; position: static !important; }
.sgs .ErrorMarker { display: none !important; }
div.SGS_ProgressImageWrapper { display: none !important; }
.modalPopup * { position: static !important; width: auto !important; height: auto !important; min-height: auto !important;
	overflow: visible !important; clear: both; background: none !important; }
ul.form.confirmation li,ul.form.confirmation li span.label {background-color: transparent !important; background-image: none !important;}

/* hide headerWrapper on create payment pages so it reducing the chances of the confirmation page printing over two pages **/
.headerWrapper, .leftColumnConfirm {display: none;}

/* prevent tabs images on statements showing*/
.SSTab ul.tabUI span a { background:none; }
.SSTab ul.tabUI span a span { background:none; }
.SSTab ul.tabUI .active span.left, .SSTab ul.tabUI .disabled span.left  { background:none; }
.SSTab ul.tabUI .active span.left span, .SSTab ul.tabUI .disabled span.left span { background:none; }