<div class="container-fluid">
	<div class="col-md-7 col-md-offset-1">

		<div class="panel-group" id="accordian">
			<%= render @teachers %>
		</div>
	</div> <!-- end of col-md-7 col-md-offset-1 -->
</div> <!-- end of container-fluid -->