<li class="list-group-item"><strong>Title: <%= experience.title %></strong>
		<span class="pull-right"><%= "#{experience.start.strftime('%Y %b')} - #{experience.end.strftime('%Y %b')}"%></span></li>

