<li class="list-group-item clearfix"><%= subject.name %><%= link_to 'Remove subject', remove_from_teacher_subject_path(subject.id), class: 'pull-right btn btn-sm btn-danger', method: 'delete' %> </li>