  <tr class="table_row">
    <td>
      <%= star_helper(review.rating) %> <%= content_tag :span, review.teacher.full_name, class: 'review_name' %><%# teachers_helper %><br>
      
      <%= review.comment %>  
    </td>
    
    <td><%= distance_of_time_in_words(Time.now, review.created_at) %> ago</td>
  </tr>