
<div id="share_buttons">
  
  <div class="fb-like" data-href="<%= request.original_url %>" data-layout="button" data-action="like" data-show-faces="false" data-share="true">
  </div>
	
  <div class="fb-like">
    <script type="IN/Share" data-url="<%= request.original_url %>" >

    </script>
    
    <script type="text/javascript" src="https://platform.linkedin.com/in.js?async=true"></script>
    <script type="text/javascript">
        IN.init({api_key:'77iyb2qd8pdh8f'});            
    </script>
  </div>

  
  <div class="fb-like">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://learn-your-lesson.herokuapp.com" data-text="Learn Your Lesson" data-count="none" data-hashtags="whatwitllyoulearn">Tweet</a>
    
  </div>
  <div class="share_message">
    <p>Recommend on Facebook, LinkedIn or Twitter</p>
    <button type="button" class="close share_buttons_close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  </div>
  
</div> <!-- end of share_buttons --> 

<div id="fb-root"></div>
<script type="text/plain" class="cc-onconsent-social">
  window.fbAsyncInit = function() {
    FB.init({
      appId      : "<%= ENV['FACEBOOK_APP_ID'] %>", // App ID
      channelUrl : '<%= request.original_url %>', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });
    FB.Event.subscribe("edge.create", function(href, widget) {
      $('#share_buttons').animate({
        top: 53,
        left: 350,
        height: 70
      });
    });

    // Additional initialization code here
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>