<% if @teacher.instance_of? Array %>
  $('.modal-body').prepend("<div class='payment_choice_error'>");
  $('.payment_choice_error').append("<%= escape_javascript(@teacher[0].to_s) %>");
  $('.payment_choice_error').append("</div>");
<% else %>
	$('#payment_choice_modal').modal('hide');
	$('#payments_modal_for_users').modal('show');
  
<% end %> 
