<li role="presentation" class="<%= 'active' if location_counter == 0 %>">
  <a href="location<%= location_counter %>" data-index="<%= location_counter %>" aria-controls="home" role="tab" data-toggle="tab">Location <%= location_counter %></a>
</li> <!-- end of presentation -->