<%= include_gon %>
<div class="row show_teacher_to_user">
  <div class="col-sm-12 col-xs-12 mob_no_padding">
    
    <div id="grinds_calendar" class="dhx_cal_container teachers_display_scheduler" >
      <div class="dhx_cal_navline" >
          <div class="dhx_cal_prev_button grind">&nbsp;</div>
          <div class="dhx_cal_next_button grind">&nbsp;</div>
          <div class="dhx_cal_date display_teachers_cal_date pull-left" id="display_teachers_cal_date"></div>
          
      </div> <!-- end of dhx_cal_navline -->
      <div class="dhx_cal_header"></div>
      <div class="dhx_cal_data"></div>       
    </div> <!-- end of scheduler_here -->   
  </div> <!-- end of col-sm-12 col-xs-12 mob_no_padding -->
</div> <!-- end of row -->


<%= javascript_tag defer: 'defer' do -%>

  var format, grinds;

  scheduler.clearAll();

  scheduler.config.xml_date = "%Y-%m-%d %H:%i";

  scheduler.config.first_hour = 6;

  scheduler.config.last_hour = 23;

  scheduler.config.readonly = false;

  scheduler.config.details_on_dblclick = true;

  scheduler.config.lightbox.sections=[{name:"description", height:200, map_to:"text", type:"textarea" , focus:true}]

  scheduler.config.buttons_left=["select_grind"];

  scheduler.config.buttons_right=["dhx_cancel_btn"];

  scheduler.locale.labels["select_grind"] = "Select this grind";

  scheduler.config.icons_select = [
     "icon_details"
  ];

  scheduler.config.time_step = 30;

  scheduler.config.drag_create = false;

  scheduler.config.drag_resize = false;

  scheduler.locale.labels.timeline_tab = "Timeline";

  scheduler.enableTooltips = (false, false, false);

  scheduler.locale.labels.unit_tab = "Unit";

  scheduler.config.wide_form = false;

  scheduler.locale.labels.section_custom = "Section";

  scheduler.config.wide_form = false;

  format = scheduler.date.date_to_str("%d-%m-%Y %H:%i");

  scheduler.config.details_on_create = false;  

  scheduler.init('returned_calendar_container');

  console.log("gongrinds " + JSON.stringify(gon.grinds));

  scheduler.parse(gon.grinds, 'json');

  scheduler.attachEvent("onDblClick", function (id, e){
    
    window.localStorage.setItem('grind_id', id);  //set grind id in cookie
    
    scheduler.showLightbox(id);
  })

  scheduler.attachEvent("onLightboxButton", function(button_id, node, e){
    if(button_id == "select_grind"){
      $.ajax({
        url: '/grinds/1/get-quantity-form',
        method: 'get',
        data: { grind_id: window.localStorage.getItem('grind_id') }
      }).done(function() {
        console.log('done');
        scheduler.resetLightbox();
        $('#grind_modal').modal('hide');
      });
    }
  });
<% end -%>