<%= include_gon %>
<div class="outer-container">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag Photo.find(@teacher.profile).avatar.url ,alt: "#{@teacher.full_name} grinds profile pic", class: 'grind_teacher_profile' %>
    </div> <!-- end of col-md -->
    
  </div> <!-- end of row -->
  <div class="col-sm-8 mob_no_padding show_teacher_profile_container">    
    <div class="col-xs-12 mob_no_padding nopadding">
      <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
          <%= render partial: 'partials/show_teacher/show_teacher_maps_li_tags', collection: @locations, as: :location %>
        </ul> <!-- emd of nav nav-tabs -->
        <div class="tab-content">
          <%= render partial: 'partials/show_teacher/show_teacher_maps_tabs', collection: @locations, as: :location %>
        </div> <!-- end of tab-content -->
      </div> <!-- end of tabpanel -->
    </div> <!-- end of col- -->    
    </div> <!-- end of col-sm-8 -->  
</div> <!-- end of outer-container -->