<% content_for :title, "How it works" %>
<% content_for :description, 'LearnYourLesson lets you connect with local teachers in your area for lessons on music, photography, languages or anything else.' %>

<div class="container-fluid how_it_works_page">
	
	<div class="row how_it_works_row center-block">
		<div class="page-header center_text"><h1><strong>How Learn Your Lesson Works</strong></h1></div>
		<p class="center_text">We provide the platform for you to find the best teachers and tutors closest to you, teaching the lessons and skills you want to learn.</p>
			

	</div> <!-- end of how_it_works_row -->
	<div class="row how_it_works_row">
		<div class="col-md-4 col-sm-4 col-xs-12">
			<%= image_tag "set-up-your-account.jpg", class: "img-responsive", alt: "Set up your account" %>
		</div>
		<div class="col-md-8 col-sm-8 col-xs-12">
			<h1><strong>Set up your account</strong></h1>
			<p>Create your account in seconds and you are ready to start learning</p>
		</div> <!-- end of col-md-9 -->
	</div> <!-- end of how_it_works_row -->

	<div class="row how_it_works_row center-block">
		<div class="col-md-4 col-sm-4 col-xs-12">
			<%= image_tag 'teach_guitar.jpg', class: "img-responsive", alt: 'Select your teacher, picture of teacher and student' %>			
		</div> <!-- end of col-md-9 -->
		<div class="col-md-8 col-sm-8 col-xs-12">
			<h1><strong>Select Your Teacher</strong></h1>
			<p>Use our search engine to find the nearest and best teachers in your area. Compare the information and experience of each teacher before making your choice</p>
		</div> <!-- end of col-md-4 -->
	</div> <!-- end of how_it_works_row -->

	<div class="row how_it_works_row center-block">
		<div class="col-md-4 col-sm-4 col-xs-12">
			<%= image_tag 'phone.jpg', class: "img-responsive", alt: "Book online with confidence, mobile, phone, book from anywhere" %>
		</div> <!-- end of col-md-3 -->
		<div class="col-md-8 col-sm-8 col-xs-12">
			<h1 class="how_it_works_header"><strong>Book Online With Confidence</strong></h1>
			<p>Choose your desired date and time with your teacher and book the lesson in less than a minute. Your teacher will be in contact with you to confirm the booking. If you are not 100% happy with the lesson we will refund the cost.</p>
		</div> <!-- end of col-md-9 -->
	</div> <!-- end of how_it_works_row -->

	<div class="row">
		<div class="page-header center-block text-center"><h1><strong>FAQs</strong></h1></div>
		<div class="col-md-6">
			<p><strong>How much do you charge for lessons?</strong></p>
			<p>Lesson prices are set by the instructor. 
				The price will be displayed on each teacher’s profile.</p>
		</div> <!-- end of col-md-6 -->
		<div class="col-md-6">
			<p><strong>Can I pay the instructor in person?</strong></p>
			<p>Yes, you can pay either online or in person. If you choose to pay online, we will guarantee you a refund if you are not happy with the lesson you have received.</p>
		</div> <!-- end of col-md-6 -->
		<div class="col-md-6">
			<p><strong>What forms of payment do you accept?</strong></p>
			<p>You can pay online via Paypal or Stripe.	</p>
		</div> <!-- end of col-md-6 -->
	</div> <!-- end of row -->
</div> <!-- end of container -->