<%= content_for :title, "Learn Your Lesson price list" %>

<%= content_for :description, "Learn Your Lesson, price plans and information" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h1 class="center_text">We are offering 3 months free for all teachers.</h1>
      <h3 class="center_text">The price per month will €6.99 after that. </h3>
      <h4 class="center_text">That's extreme value for money. We'll take care of all your bookings. Leaving you to just teach.</h4>
      <table class="table table-bordered prices_table">
        <thead>
          <tr>
            <th>Length of time</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>First 3 months</td>
            <td>Free</td>
          </tr>
          <tr>
            <td>Per month</td>
            <td>€6.99</td>
          </tr>
        </tbody>
      </table>
    </div> <!-- end of col-md6 -->
    <div class="col-md-3"></div> <!-- end of col-md3 -->
  </div> <!-- end of row -->
</div> <!-- end of container-fluid -->