<div  class="container-fluid main_page_search_container">
  <%= form_tag display_subjects_path, method: 'get', id: 'main_subject_search' do %>
    <%= text_field_tag :search_subjects, params[:search], placeholder: 'Subject name', class: 'typeahead subject', autocomplete: :off %>
    <%= text_field_tag :search_position, params[:search], placeholder: 'County', class: 'typeahead county', autocomplete: :off %>
    <%= submit_tag 'Search', name: 'nil', id: 'search_submit' %>
  <% end %>
  <div id="display_search_results">

  </div>
</div> <!-- end of container-fluid main_page_search -->