<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">
			<a href="#<%= teachers %>" data-parent="#accordian" data-toggle="collapse">List of teachers</a>
		</h4>
	</div>
	<div id="<%= teachers %>" class="panel-collapse collapse">
		<div class="panel-body">
			<ul class="list-group">
				
				<% @teac.each do |subject| %>
					<li class="list-group-item"><%= subject.name %>
						<span class="pull-right"><%= link_to 'Delete', subject, method: :delete, data: { confirm: 'Are you sure?' } %></span>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</div>

