<%= @params %>
<%= render 'form' %>



<div class="col-md-6" id='calendar' style="height:500px;width:500px;"></div>
<div class="col-md-6">
	
		<%= form_for @event do |f| %>
			<input name="date" type="text" id='date'>
			<input name="start_time" type="text" id="start_time">
			<input name="end_time" type="text" id="end_time">
			<%= f.submit %>
		<% end %>
</div>


