<div class="panel panel-default">
  <% if current_teacher.is_teacher %>
    <%= render partial: 'partials/previous_lessons_teacher', collection: current_teacher.events.order('end_time DESC'), as: :event %>
  <% else %>
    <%= render partial: 'partials/previous_lessons_student', collection: current_teacher.events.student_events(current_teacher.id), as: :event %>
  <% end %>
</div>