<%= content_for :title, 'Tell us where you are' %>

<div class="outer-container">
  <div class="price_alert">
    
  </div>
  <div class="row" id="map_container">
  	<div class="col-md-12">
  		<div class="well">You can enter your address and click find address or use the map controls and click on 
  			your address. Please be as accurate as possible. Address should be in form: 1 High Street, town name. (The comma "," is important!). You can also set prices for each subject at each location. 
  		</div> <!-- end of well -->
  	</div> <!-- end of col-md-12 -->
  	<div role="tabpanel">

  	
    <!-- Nav tabs -->
      <ul class="nav nav-tabs " role="tablist">
      	<%= render partial: 'partials/your_location/your_location_li_tags', collection: @locations, as: :location %>
        
        <li role="presentation"><a href="#profile" id="1" aria-controls="profile" role="tab" data-toggle="tab"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add new location</a></li>
        
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
      	<%= render partial: 'partials/your_location/your_location_map_tab', collection: @locations, as: :location  %>
        
        <div role="tabpanel" class="tab-pane" id="location2">
        	
        </div>
        
        
      </div>

    </div> <!-- end of tabpanel -->
  	
  </div> <!-- end of map_container -->
</div>