<% popoverContent = "#{link_to 'Delete', [@context, photo], :confirm => 'Are you sure?', method: :delete} <br>
			#{link_to 'Make profile', change_profile_pic_teacher_path(photo.id), method: 'post'}" %>

<div class="col-xs-6 col-md-3">
  
  	<a href='#!' class="profile_pic_popover" tab-index="0"  data-title="<%= photo.name %>" data-html='true' data-container="body" data-toggle="popover" data-placement="top" data-content="<%= popoverContent %>"><%= image_tag photo.avatar.url, size: "150x150" %> </a>  
    
  
</div>