@import url("https://fonts.googleapis.com/css?family=Open+Sans");
html{
  height: 100%;
}
body {
  background-color: #e0ebf4; 
  min-height: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif !important;
  //background-color: #CCCCC0;*/
}

hr{
  border: 0; height: 1px; background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

.add_col_padding{
  padding: 0 15px;
}

.alert{
  margin-top: -22px;  
  margin-bottom: 30px;
}


//center imag-responisve
.img-responsive.center{
  margin: 0 auto;
}

//customise carousel

.carousel-inner > .item > img {
    margin: 0 auto;
}
// end of customise carousel

// customise alert-success colour
.alert.alert-success{
  background-color: #5cb85c !important;
  color: #FFF;
}

.alert.alert-danger.active_message{
  background-color: #ff4000 !important;
  color: #FFF;
}

.alert.alert-danger{
  background-color: #ff4000 !important;
  color: #FFF;
}

.mobile_alert_message{
  color: #ff1a1a;
}


//edit bootstrap containers to wrap long sentences onto next line*/
.list-group-item{
  word-wrap: break-word !important;
}

.media-body{
  word-wrap: break-word !important;
}

.panel-footer{
  word-wrap: break-word !important;
}

.panel-body{
  word-wrap: break-word !important;
}

//end of edit bootstrap containers*/

.dropdown-toggle:active, .open .dropdown-toggle {
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#419741', endColorstr='#398539');
  background: -webkit-linear-gradient(#419741,#398539);
  background: -o-linear-gradient(#419741,#398539); 
  background: -moz-linear-gradient(#419741,#398539); 
  background: linear-gradient(#419741,#398539); 
  color: #FFF !important;
  }

.dropdown-menu > li > a:hover, //clicked dropdown menu link
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  background: -webkit-linear-gradient(#5cb85c, #398439);
  background: -o-linear-gradient(#5cb85c, #398439); 
  background: -moz-linear-gradient(#5cb85c, #398439); 
  background: linear-gradient(#5cb85c, #398439);
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
  background-color:#398539 !important;
}

.navbar-default .navbar-brand{
  color: #FFF;
}

.teacher_nav{
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#5cb85c', endColorstr='#398439');
  background: -webkit-linear-gradient(#5cb85c, #398439);
  background: -o-linear-gradient(#5cb85c, #398439); 
  background: -moz-linear-gradient(#5cb85c, #398439); 
  background: linear-gradient(#5cb85c, #398439);  
}

.user_nav{
  border-color: #2a602a;
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#5cb85c', endColorstr='#398439');
  background: -webkit-linear-gradient(#5cb85c, #398439);
  background: -o-linear-gradient(#5cb85c, #398439); 
  background: -moz-linear-gradient(#5cb85c, #398439); 
  background: linear-gradient(#5cb85c, #398439);
}

// text color to white in navbar
.user_nav .navbar-nav > li > a {
  color: #FFF;
}
.user_nav .navbar-nav > li > a:hover {
  color: #80c0ff;
}

.teacher_nav .navbar-nav > li > a {
  color: #FFF;
}
.teacher_nav .navbar-nav > li > a:hover {
  color: #80c0ff;
}

// edit dropdown menu in nav for mobile view
.drop_mobile > li > a{
  color: #FFF !important;
}

.drop_mobile .active > a{
  color: #111 !important;
}
// edit dropdown menu in nav for mobile view


// edit navbar collapse button colour
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
  color: #80c0ff;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: #e0ebf4 !important;

}

.navbar-default .navbar-toggle {
  border-color: #FFF;

}


// end of edit navbar collapse button colour

//active link in navbar
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#398539', endColorstr='#398539');
  background: -webkit-linear-gradient(#398539,#398539);
  background: -o-linear-gradient(#398539,#398539); 
  background: -moz-linear-gradient(#398539,#398539); 
  background: linear-gradient(#398539,#398539); 
  color: #FFF;
}

//standard layout page*/



// #standard_layout{
//   background-color: #e0ebf4;  
// }

.main_page_nav{
  margin: 0px auto;
  max-width: 1100px;
  background-color: #e0ebf4;
}
//end of standard layout page*/

.jumbotron{
  margin-bottom: 0;
}

.this-one{
  margin-bottom: 5px;
}

// qualifications  */

#qual_container{
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #CCCCC0;
}


#qual_left{
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #eee;
  
}
#qual_form{
  min-height: 20px;

}

.qualifications_select_dates{

}

//end of qualifications


//create-new-subject page
.create_new_subject_well{
  background-color: #ff3a00;
  color: #FFF;
}

// end of create-new-subject-page
//your_business page

.price_alert{
  background: #ebffeb;
  
  box-shadow: 0 0 0 10px rgba(196,255,196, 0.2), 0 0 3px rgba(0, 0, 0, 0.3);
  float: right;
  opacity: 0.8;
  padding: 5px 5px;
  position: fixed;
  right: 60px;
  top:180px;
  visibility: hidden;
  // width: 310px;
  z-index: 100;
}

.home_schooling_table{
  padding-top: 5px;
  background-color: #FFF;
}

.home_schooling_price{
  background-color: #326EA7 !important;
}

.home_schooling{
  margin-bottom: 50px;
}

.home_schooling_table_header{
  font-weight: bold;
}

.home_schooling_heading{
  color: #FFF;
}

.package_form_row{
  margin-top: 20px;
}

.package_form_well{
  background-color: #326EA7 !important;
  padding-bottom: 10px;
}

.location_form{
  background-color: #FFF;
}

.prices_form{
  background-color: #FFF;
}

.package_form_header{
  color: #FFF;
}

.well_form_header{
  color: #FFF;
  // text-align: center;
}

.well_form_label{
  color: #FFF;
}

.saved_packages{
  background-color: #5491CD;
  color: #FFF;
}

.display_saved_packages{
  // height: 175px;
  padding: 30px;
  border-style: solid;
  border-width: 1px;
  //margin-top: 9px;*/
  border-color: #E6E6E6;
  clear: both;
}

.grind_well{
  margin-bottom: 10px;
  background-color: #FFBF00;
  color: #FFF;
}

.grind_start_time{
  color: #111;
}

.black{
  color: #111;
}

.saved_grinds{
  background-color: #FFBF3F;
  color: #FFF;
}

.saved_packages_and_grinds{
  // display: none;
}

.display_saved_grinds{
 
  padding: 30px;
  border-style: solid;
  border-width: 1px;
  //margin-top: 9px;*/
  border-color: #FFBF3F;
  margin-bottom: 5px;
}

.grinds_container{
  margin-top: 10px;
  
}

.grinds_well{
  color: #FFF;
  background-color: #FFBF3F;
}

.subscription_container{
  background-color: #ff3a00;
  padding-bottom: 10px;
}

.membership_container{
  text-align: center;
  color: #FFF;
  margin-bottom: 10px;
}

small.white{
  color: #FFF;
}

.home_schooling_well{
  color: #FFF;
  background-color: red;
}

//end of your_business page

.gray_section{
  background-color: #ff7e64 !important;
  opacity: .9 !important;
  border: 1px solid #1b0000 !important;
}

.dhx_cal_event{
  z-index: 20 !important;
}

//display_subject _subject_search page*/
#search_submit_container{
  text-align: center;
}

#search_submit{
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#5d95c7', endColorstr='#4e8bc2');
  background: linear-gradient(#5d95c7,#4e8bc2);
  background: -webkit-linear-gradient(#5d95c7,#4e8bc2);
  background: -o-linear-gradient(#5d95c7,#4e8bc2); 
  background: -moz-linear-gradient(#5d95c7,#4e8bc2);  
  border: 0px !important;
}

#search_submit:hover{
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#3f7eb7', endColorstr='#3971a4');
  background: linear-gradient(#3f7eb7,#3971a4) !important;
  background: -webkit-linear-gradient(#3f7eb7,#3971a4);
  background: -o-linear-gradient(#3f7eb7,#3971a4); 
  background: -moz-linear-gradient(#3f7eb7,#3971a4); 
}

.image_container{
  color: black;
  height: 125px !important;
}

.search_results_left{
  overflow: auto;
  height: 125px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  //margin-top: 9px;*/
  border-color: #E6E6E6;
  overflow-y:hidden;
}

.search_restuls_right{
  height: 125px;
  background-color: white;
  border-top: solid;  
  border-right: solid;
  border-bottom: solid;
  border-width: .1em;
  border-color: #E6E6E6;
  position: relative;
  //margin-top: 9px;*/
}

.nopadding {
  padding: 0 !important;
  //margin: 0 !important;*/
}

.results_photos{
  position: absolute;
  margin-right: 10px;
  clear: both;
}

.results_photos.front{
  z-index: 1;
}

.results_photos.back{
  z-index: 3;
  opacity: 0;
}

.search_results_row:hover {
  box-shadow: 2px 2px 10px #888888;
  
}

.search_results_row{
  margin: 9px;
}

.search_results_teachers_info{
  margin-left: 135px;
}

.search_results_teachers_name{
  font-family: "HelveticaNeue", "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.main_page_search_container{
  color: #000;
  text-align: center;
  // margin-bottom: 50px;
  // margin-bottom: 20px;
  // margin-top: -22px;
  height: 350px;  
  
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;;
  // left: calc(-50vw + 50%);
}
.search_page_results{
  color: #FFF;
  text-align: center;
  // margin-bottom: 50px;
  margin-bottom: 20px;
  // margin-top: -22px;
}
.main_page_search_container small{
  color: #000;
}

.typeahead.subject{
  height: 45px;
  font-size: 22px;  
}

.typeahead.county{
  height: 45px;
  font-size: 22px;  
}

.review_container{
    
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  border-top: 1px solid #CCCCC0;
}
//end of subject search page*/

// invitaion partial
.invitation_container{
  margin-top: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}

.invitation{
  text-align: center;
  float: left;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
}
// end of invitation partial

//teachers-area page opening times modal*/
.second_day{
  border-bottom: 1px solid #CCCCC0;
}

.modal-body.opening_times{
  padding: 0;
}
//end of teachers-area page opening times modal*/

//teachers work area*/
.row_teachers_area{ //height is set in scheduler
  padding-left: 10px;
}

//end of teachers work area*/
//show_teacher*/

.table_header{
  background-color: #fff;
}

.table_row{
  background-color: #fff;
}

// #teacher_display_map{ possibly removing this for new locations views
//  height: 350px;
//  width: 100%;
//  border: 1px solid #CCCCC0;
//  margin-bottom: 5px; 
// }

.show_teacher{
  margin-bottom: 50px;
}

.map_canvas{
  border: 1px solid #CCCCC0;
}

.teachers_display_scheduler{
  height: 500px;
  width: 100%;
  border: 1px solid #CCCCC0;
  margin-bottom: 5px;
}

.dhx_cal_date.display_teachers_cal_date{
  padding-left: 5%;
  height:30px !important;
  line-height:30px !important;
  background:0 0;
  border:1px solid #CECECE;
  text-align: left !important;
}

.dhx_cal_container.teachers_display_scheduler{
  border: 1px solid #CCCCC0;
}

.row_teachers_area{
  height: 100%;
}


//end of show_teacher page*/

// teachers/show_teacher_to_user*/
.btn_book_now{
  color: white;
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#5cb85c', endColorstr='#398439');
  background: -webkit-linear-gradient(#5cb85c, #398439);
  background: -o-linear-gradient(#5cb85c, #398439); 
  background: -moz-linear-gradient(#5cb85c, #398439); 
  background: linear-gradient(#5cb85c, #398439)
}

.btn_book_now:focus,
.btn_book_now.focus {
  color: #FFF !important;
  text-decoration: none;
}
.btn_book_now:hover{
  color: #b1b1ff;
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#48a548', endColorstr='#3f923f');
  background: -webkit-linear-gradient(#48a548, #3f923f);
  background: -o-linear-gradient(#48a548, #3f923f); 
  background: -moz-linear-gradient(#48a548, #3f923f); 
  background: linear-gradient(#48a548, #3f923f)
}

.booking_button_panel{
  margin-bottom: 0 !important;
  border-style: solid;
  border-width: 1px;
  border-color: #CCCCC0;  
}

.check_availability_container{
  display: none;
}

.booking_button_panel_heading{
  border-bottom: 1px solid #CCCCC0;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  -webkit-text-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  -moz-text-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  -o-text-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}

.white_back{
  background-color: #FFF;
  
}

.fotorama{
  float: left;  
  min-height: 375px;
  border-style: solid;
  border-width: 1px;
  border-color: #CCCCC0;
  padding-left: 0;
  padding-right: 0;
}

.fotorama__wrap {
    margin: 0 auto !important;
}

.teachers_name{
  font-size: 20px;
  margin-left: 5px;
  color: #FFF;
}

.teachers_subject_list{
  font-size: 20px;
}

.row.show_teacher{ // remove margin-bottom from row for booking panel teachers profile pic border
  margin-bottom: 0 !important;
}

.profile_pic_container{
  
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
  
    
  }

  .teacher_profile_table{
    margin-bottom: 0;
  }

  .select_teachers_location{
    display: none;
  }

  .select_home_lesson{
    display: none;
  }

  #home_booking_address{
    width: 100%;
  }

  .package_selection_container{
    text-align: center;
  }

  .select_error{
    border-color: red;
  }

  .home_only_avail_times{
    display: none;
  }

  .location_only_price_select{
    display: none;
  }

// end of teachers/show_teacher_to_user*/

// teach page*/
.teacher_registration_container{
  color: #111;
  
  background-color: rgba(0, 0, 0,0);
  box-shadow: 2px 2px 5px #111;
  margin: 0 !important;
  padding: 0 10px !important;
  height: 100%;
}

.teacher_registration_container_header{
  text-shadow: 1px 1px 1px #888888;
  padding-left: 15px;
}

.teach_label{
  margin-left: 15px;
}

.input-group-addon{
  opacity: 1 !important;
}

.teacher_registration_form{
  font-size: 14px;
}

form .glyphicon {
  top: 0;
}

.teach_page_login_link{
  color: #38aa38;
}

.teachers_blurb{
  color: #FFF;
}


.teachers_reg_buttons{
  margin-left: 10px;
  margin-bottom: 5px;
}

.fb_login_container{

  margin-left: 10px;
  margin-right: 10px;
  padding: 3px;
  
}

.fbLogin_link{
  color: #555 !important; 
}




.container-fluid.teach_page{
  padding: 0 !important;
  // margin: 0 !important;
  // width: 100%;
}

.row.teach_page{
  padding: 0 !important;
  margin: 0 !important;
  // width: 100%;
}

.teach_exp_header{
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

.teach_page_pros_container{
  font-size: 20px;
  padding: 0 !important;
}



.teach_exp_table_container{
 // margin-left: 50px;
}
.teach_exp_table{

  font-size: 28px;

}


// end of teach page*/

// prices page //

.prices_table{
  background-color: #FFF;
}


// landing page //

.landing_page_container{
  text-align: center;
  max-width: 500px;
  padding-top: 70px;
}

.landing_page_email{
  padding: 6px 12px;
}

// static/learn page. User registration*/


.teachers_form_container{
  padding-left:15px;
  padding-right: 60px;
}
.student_reg_container{
  color: #FFF;
  padding: 0 10px !important;
  margin: 0 !important;
  height: 100%;
  background-color: rgba(0,0,0,0);
  // box-shadow: 2px 2px 5px #888888;
  padding-bottom: 5px;
}

.user_reg{
  width: 100%;
}

.user_reg_email{
  width: 95%;
  margin: 0 5px;
}

.learn_blurb{
  text-align: center;
  background-color: rgba(0,0,0,0);
  // box-shadow: 2px 2px 5px #888888;
  height: 100%;
  color: #111;
}
.pad_left{
  margin-left: 10px;
}

.learn_reg_container{
  padding: 10px !important;
}

.learn_header{
  font-weight: bold;
}

.learn_page_pros_row{
  font-size: 20px;
  padding: 0 !important;
  margin: 0 !important;
}

.learn_page_pros_container{
  padding-left: 15px;
  padding-right: 15px;
}

// end of static/learn page. User registration*/

//static how it works page
.how_it_works_page{
  font-size: 20px;
}
.how_it_works_row{
  padding: 20px 50px;
  border-bottom: 1px solid #CCCCC0;
}

.center_text{
  text-align: center;
}

//end of static how it works page

//teachers/teachers_area*/
#scheduler_here{
  box-shadow: 2px 2px 5px #888888;
}

.friendship_well{
  background-color: #326EA7 !important;
}

.friendship_well_header{
  color: #FFF;
}

.friendship_well_header small {
  color: #888888;
}

.friendship_message_footer{
  text-align: right;
}

//end of teachers/teachers_area*/

// login_modal page*/

.login_modal_content{
  // color: #FFF;
  background-image: asset_url('key_icon.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.forget_password{
  color: #46b8da;
}

.ds-btn li{ list-style:none;padding:10px; }
.ds-btn li a span{padding-right:5px;width:100%;display:inline-block; }
.ds-btn li a span small{width:100%; display:inline-block; text-align:left;}
.sign_in_submit{
  display: block;
  margin-left: 23%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.mobile_reg_buttons{
  margin-top: 15px;
}

.mobile_student_reg_link{
  margin-bottom: 5px;
}

.login_fb_container{
  margin-top: 10px;
  margin-bottom: 10px;
}

.login_container{
  margin-bottom: 10px;
}
// end of login_modal page */

// feedback page
.feedback_header_container{
  background-color: #ff3a00;
  color: #FFF;
  padding: 10px 5px;
  margin-bottom: 10px;
}

.feedback_header{
  
  
  
}

// end of feedback page

// static/browse_categories*/

.category_main_container{
  background-color: #f5f5f5;
}

.category_browse_name{
  border-bottom: 1px solid #CCCCC0;
}

.category_browse_container{
  margin-bottom: 50px;
}

.subject_link{
  margin-top:  30px;
}

// end of static/browse_categories*/

//welcome page*/

#main_subject_search{
  color: #000;
}

.welcome_page_form__header{
  margin-bottom: 35px;
}

.welcome_prompt_container{
  margin-top: 25px;
}

.stock_photos_container{
  width: 100%;
  text-align: center !important;
  // margin: 0px 83px;
  
}

.center-me{
   display: inline-block !important;
}

.browse_topics{
  text-align:center;
  padding-top: 10px;
  border-top: 2px solid #FFF;
  border-bottom: 2px solid #FFF;
  font-size: 20px;
  margin: 0 100px 0 100px;
}

.stock_photo_container{
  padding: 10px 0 !important;
  // padding: 0 !important;
  // margin: 0 !important;
  // width: 200px;
  
}
.stock_photo{
  margin-right: 10px;
    
}

.stock_photo.front{
  z-index: 1;
}

.subject_pic_container{
  // margin-right: 5px;
  // margin-bottom: 20px;
  // min-width: 300px;
}

.browse_option:not(.btn-success):hover{
  cursor: pointer;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}

#all_lessons{
  background-image: image-url("all_lessons.jpg");
  // height: 200px;
  // width: 300px;
  background-repeat: no-repeat;
  // padding: 0 !important;
  // background-size:cover;
  // background-position: 50%;
  background-size: 100% 100%;
}

.add_padding{ //welcome page
  padding: 10px;
}

#drums{
  background-image: image-url("learn-to-play-drums.jpg");
  // padding: 0 !important;
  // height: 200px;
  // width: 300px;
  background-size: 100% 100%;
}

#piano{
  background-image: image-url("learn-to-play-piano.jpg");
  // height: 200px;
  // width: 300px;
  padding: 0 !important;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#guitar{
  background-image: image-url("learn-to-play-guitar.jpg");
  // padding: 0 !important;
  // height: 200px;
  // width: 300px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#violin{
  background-image: image-url("learn-to-play-violin.jpg");
  // height: 200px;
  // width: 300px;
  padding: 0 !important;
  background-size: 100% 100%;
}

#singing{
  background-image: image-url("learn-to-sing.jpg");
  // height: 200px;
  // width: 300px;
  padding: 0 !important;
  background-size: 100% 100%;
}

#electric-guitar{
  background-image: image-url("learn-to-play-electric-guitar.jpg");
  // height: 200px;
  // width: 300px;
  padding: 0 !important;
  background-size: 100% 100%;
}

#french{
  background-image: image-url("learn-to-speak-french.jpg");
  // height: 200px;
  // width: 300px;
  padding: 0 !important;
  background-size: 100% 100%;
}

#italian{
  background-image: image-url("learn-to-speak-italian.jpg");
  // height: 200px;
  // width: 300px;
  padding: 0 !important;
  background-size: 100% 100%;

}

#german{
  background-image: image-url("learn-to-speak-german.jpg");
  // height: 200px;
  // width: 300px;
  padding: 0 !important;
  background-size: 100% 100%;

}

#spanish{
  background-image: image-url("learn-to-speak-spanish.jpg");
  // height: 200px;
  // width: 300px;
  padding: 0 !important;
  background-size: 100% 100%;

}

#english{
  background-image: image-url("learn-to-speak-english.jpg");
  // height: 200px;
  // width: 300px;
  padding: 0 !important;
  background-size: 100% 100%;

}

#irish{
  background-image: image-url("learn-to-speak-irish.jpg");
  // height: 200px;
  // width: 300px;
  padding: 0 !important;
  background-size: 100% 100%;

}

#photography{
  background-image: image-url("photography.jpg");
  // height: 200px;
  // width: 300px;
  padding: 0 !important;
  background-size: 100% 100%;
}

#cooking{
  background-image: image-url("cooking.jpg");
  // height: 200px;
  // width: 300px;
  padding: 0 !important;
  background-size: 100% 100%;
}

#yoga{
  background-image: image-url("yoga.jpg");
  // height: 200px;
  // width: 300px;
  padding: 0 !important;
  background-size: 100% 100%;
}

#studio_painting{
  background-image: image-url("studio_painting.jpg");
  // height: 200px;
  // width: 300px;
  padding: 0 !important;
  background-size: 100% 100%;
}

#swimming{
  background-image: image-url("swimming.jpg");
  // height: 200px;
  // width: 300px;
  padding: 0 !important;
  background-size: 100% 100%;
}

#dancing{
  background-image: image-url("dancing.jpg");
  // height: 200px;
  // width: 300px;
  padding: 0 !important;
  background-size: 100% 100%;
}

#physics{
  background-image: image-url("learn-physics.jpg");
  // height: 200px;
  // width: 300px;
  padding: 0 !important;
  background-size: 100% 100%;
}

#maths{
  background-image: image-url("learn-maths.jpg");
  // height: 200px;
  // width: 300px;
  padding: 0 !important;
  background-size: 100% 100%;
}

#chemistry{
  background-image: image-url("learn-chemistry.jpg");
  // height: 200px;
  // width: 300px;
  padding: 0 !important;
  background-size: 100% 100%;
}

#biology{
  background-image: image-url("learn-biology.jpg");
  // height: 200px;
  // width: 300px;
  padding: 0 !important;
  background-size: 100% 100%;
}

#accountancy{
  background-image: image-url("learn-accounting.jpg");
  // height: 200px;
  // width: 300px;
  padding: 0 !important;
  background-size: 100% 100%;
}

.welcome_subject_image{
  z-index: 3;
  opacity: 0;
}

//end of welcome page

//share_buttons
#share_buttons{
  background: #f2f2f2;
  bottom: 30px;
  box-shadow: 0 0 0 10px rgba(150, 150, 150, 0.2), 0 0 3px rgba(0, 0, 0, 0.3);
  float: right;
  opacity: 0.5;
  padding: 10px 0 5px 30px;
  position: fixed;
  right: 15px;
  width: 310px;
  z-index: 20;
}

.share_message{
  clear: both;
}

#share_buttons:hover{
  opacity: 1;
}

.fb-like{
  float: left;
  margin-right: 10px;
}

.share_buttons_close{
  display: block;
  height: 15px;
  position: absolute;
  padding-bottom: 5px;
  right: 2px;
  top: 2px;
  width: 15px;
}
//end of share_buttons

// no-results-share-buttons
.no_results_share_buttons_container{
  padding-top: 5px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;
  text-align: center;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  border: 1px;
  border-color: #ccc;
  border-style: solid;
}

ul.no-results-share-buttons{
  list-style: none;
  padding: 0;
}

ul.no-results-share-buttons li{
  display: inline;
}

// end of no-results-share-buttons

// mobile_share_buttons
ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: block;
}

.mobile_share_buttons_container{
  bottom:110px;
  right:0;
  position:fixed;
  z-index:150;
  _position:absolute;
  _top:expression(eval(document.documentElement.scrollTop+
      (document.documentElement.clientHeight-this.offsetHeight)));
  height:35px;
}

.mobile_share_buttons{
  margin-bottom: 5px;
}

.paypal_image{
  min-width: 70px !important;
  min-height: 30px;
}
// end of mobile_share_buttons

@media (min-width: 250px){
  // set gutter width  
  .outer-container{
    padding: 0;
  }
  //alter navbar dropdown on small screens
  .navbar-default .navbar-nav .open .dropdown-menu > li > a{
    color: #FFF ;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a{
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#3b893b', endColorstr='#317331');
    background: -webkit-linear-gradient(#3b893b,#317331);
    background: -o-linear-gradient(#3b893b,#317331); 
    background: -moz-linear-gradient(#3b893b,#317331); 
    background: linear-gradient(#3b893b,#317331); 
    color: #FFF !important;
  }
  // end of alter navbar dropdown on small screens
  .mobile.container-fluid{
    padding:0;
  }

  .row.show_teacher_to_user{
    margin: 0;
  }
  .show_teacher_profile_container{ //show_teacher_to_user page
    margin: 0;
    height: 100%;  
    // margin-bottom: 20px;    
  }
  .mobile.panel-body{ //show_teacher_to_user page
    padding: 0;
  }
  .mobile.panel-default{ //show_teacher_to_user page
    margin-bottom: 0;
  }
  .mob_no_padding{ //show_teacher_to_user page
    padding: 0;
  }

  .show_teacher_profile_section{ //teachers profile pic on show_teacher_to_user page
    background-color: #f2f2f2;
    // padding: 0;
    // height: 486px;
  }
  .teachers_reg_photo{ //teach page
    margin-bottom: 20px;
    margin-top: -22px;
    height: 500px;  
    background-image: image_url('tree.jpg');
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    // left: calc(-50vw + 50%);
  }


  .learn_reg_photo{ //learn page
    margin-bottom: 20px;
    margin-top: -22px;
    height: 500px;  
    background-image: image_url('learn_bubble.jpg');
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    // left: calc(-50vw + 50%); 
    
  }//250px

  //teach page 
  .teachers_small_blurb_container{
    padding: 0 30px !important;
  }
  .students_blurb_header{ //learn page
    color: #FFF;
  }
  .students_blurb_text{
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
  }

  .teachers_blurb_container{ //teach page
    background-color: rgba(243, 243, 243,.7);
    box-shadow: 2px 2px 5px #111;
  }
 
  .lead{
    font-size: 30px !important;
  }
  .rates{
    font-size: 30px;
  }
  
  #display_teachers_cal_date{
    font-size: 12px;
  }
  .typeahead.subject{   // keep subject search at 500px above 600px screens */
    width: 250px;
    font-size: 14px; 
  }
  .typeahead.county{
    width: 250px;
    font-size: 14px; 
  }
}

@media (min-width: 400px) {
  .welcome_sprinkles{
    visibility: visible;
  }
  .welcome_sprinkles_hidden{
    display: inline;
  }
  #display_teachers_cal_date{
    font-size: 14px;
  }
  .typeahead.subject{   // keep subject search at 500px above 600px screens */
    width: 275px;
  }
  .typeahead.county{
    width: 275px;
  }
  .typeahead.subject{
    font-size: 15px;  
  }

  .typeahead.county{
    font-size: 15px;  
  }
}

@media(min-width: 480px)
{  
   
}

@media (min-width: 600px) {
  #display_teachers_cal_date{
    font-size: 16px;
  }  
}

@media (max-width: 649px) {
  .dhx_cal_date.teachers_area_cal_date{
    visibility: hidden;
  }
}

@media (min-width: 650px) {
  #display_teachers_cal_date{
    font-size: 17px !important;
  }
}

@media (min-width: 768px) {

  .dropdown-menu{
    width:100%;
    background: -webkit-linear-gradient(#5cb85c, #398439);
    background: -o-linear-gradient(#5cb85c, #398439); 
    background: -moz-linear-gradient(#5cb85c, #398439); 
    background: linear-gradient(#5cb85c, #398439);  
  
  }
  
  .navbar-default .navbar-nav .open .dropdown-menu > li > a{
    width:100%;
    color: #FFF;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
    background: -webkit-linear-gradient(#5cb85c, #398439);
    background: -o-linear-gradient(#5cb85c, #398439); 
    background: -moz-linear-gradient(#5cb85c, #398439); 
    background: linear-gradient(#5cb85c, #398439);  
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a{
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#3b893b', endColorstr='#317331');
    background: -webkit-linear-gradient(#3b893b,#317331);
    background: -o-linear-gradient(#3b893b,#317331); 
    background: -moz-linear-gradient(#3b893b,#317331); 
    background: linear-gradient(#3b893b,#317331); 
    color: #FFF ;
    width:100%;
  }
  .mobile.container-fluid{
    padding:0 15px;
  }
  .show_teacher_profile_container{ //show_teacher_to_user page
    height: 100%;  
    margin-bottom: 20px;    
  }
  .mobile.panel-default{ //show_teacher_to_user page
    margin-bottom: 15px;
  }
  .mobile.panel-body{ //show_teacher_to_user page
    padding: 15px;
  }
  .mob_no_padding{ //show_teacher_to_user page
    padding: 0 15px;
  }
  
  .show_teacher_profile_section{ //teachers profile pic on show_teacher_to_user page
    margin-top: 42px;
    background-color: #f2f2f2;
    // height: 486px;
    // padding: 0;
  }
  .btn_book_now {
    font-size:16px;
    text-align: center;
  }
  .dhx_cal_date.teachers_area_cal_date{
    font-size: 14px !important;
  }
  #display_teachers_cal_date{
    font-size: 18px !important;
  }
  .typeahead.subject{   // keep subject search at 500px above 600px screens */
    width: 400px;
    font-size:22px;
  }
  .typeahead.county{
    width: 400px;
    font-size: 22px;
  }

}
  
@media (min-width: 992px) {
  //set gutter width
  .outer-container{
    padding: 0 100px;
  }
  //teach_page
  .teach_page_pros_container{
    font-size: 20px;
    padding: 0 40px; //indent pros on wider screens
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555555;
    background-color: #e7e7e7;
  }
  //teach page

  .teachers_blurb_container{ //teach page
    height: 100%;
    color: #111;
    text-shadow: 1px 1px 3px #888888;
    background-color: rgba(0, 0, 0,0);
    box-shadow: 2px 2px 5px #111;
  }
  .teachers_reg_photo{
    margin-bottom: 20px;
    margin-top: -22px;
    height: 500px;  
    background-image: image_url('tree.jpg');
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    // margin-left: -15px;
    // margin-right: -30px;
    // left: calc(-50vw + 50%);
  } //end of teach page
  .lead{
    font-size: 10px;
  }
  .btn_book_now {
  font-size:12px;
  text-align: center;
  }
  #display_teachers_cal_date{
    font-size: 12px !important;
    padding-left: 2px !important;
  }
  .dhx_cal_date.teachers_area_cal_date{
    font-size: 13px !important;
  }
}
 
@media (min-width: 1200px) {
  
  .lead{
    font-size: 13px;
  }
  .btn_book_now {    
  font-size:16px;
  text-align: center;
  }
  #display_teachers_cal_date{
    font-size: 18px !important;    
  }
}

//hack for firefox tables*/
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}
//hack for firefox tables*/


//Change navbar collapse to stop skewed buttons*/
@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-collapse.collapse.in {
      display: block!important;
  }
  .navbar-nav {
      float: none!important;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
}
// end of Change navbar collapse to stop skewed buttons


.dropdown-submenu {
    position: relative;
}

.dropdown-menu.extra{ //make widht of dropdown submenu width of text
  width: auto;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
    color: #FFF;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

#feedback { 
  height: 104px; 
  width: 104px; 
  position: fixed; 
  top: 40%; 
  z-index: 999;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
  -o-transform: rotate(-90deg); 
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#feedback a { 
  display: block; 
  background: #f00; 
  height: 30px; 
  width: 100px; 
  padding: 8px 16px;
  color: #fff; 
  font-family: Arial, sans-serif; 
  font-size: 17px; 
  font-weight: bold; 
  text-decoration: none; 
  border-bottom: solid 1px #333;
  border-left: solid 1px #333;
  border-right: solid 1px #fff;
}

#feedback a:hover { 
  background: #06c; 
}