html{
  height: 100%;
}
body {

  min-height: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #CCCCC0;
}

hr{
	border: 0; height: 1px; background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

#main_page{
	padding-top: 50px;
	background-color:white;
	min-height: 100%;
}
.jumbotron{
	margin-bottom: 0;
}

.this-one{
	margin-bottom: 5px;
}

/* qualifications  */

#qual_container{
	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCC0;
}
#qual_head{
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #eee;
}

#qual_left{
	border-right-style: solid;
	border-right-width: 2px;
	border-right-color: #eee;
	
}
#qual_form{
	min-height: 20px;

}