add font file*/
@font-face{
	font-family: teachersFont;
	
}

html{
  height: 100%;
}
body {
  
  min-height: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  /*background-color: #CCCCC0;*/
}

hr{
	border: 0; height: 1px; background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}



/*edit bootstrap containers to wrap long sentences onto next line
*/
.list-group-item{
	word-wrap: break-word !important;
}

.media-body{
	word-wrap: break-word !important;
}

.panel-footer{
	word-wrap: break-word !important;
}

/*end of edit bootstrap containers*/

.teacher_nav{
	background: linear-gradient(#fafafa,#fff);
  background: -webkit-linear-gradient(#fafafa,#fff);
  background: -o-linear-gradient(#fafafa,#fff); 
  background: -moz-linear-gradient(#fafafa,#fff);  
}

.user_nav{
	background: linear-gradient(#fafafa,#fff);
  background: -webkit-linear-gradient(#fafafa,#fff);
  background: -o-linear-gradient(#fafafa,#fff); 
  background: -moz-linear-gradient(#fafafa,#fff);  
}

/*standard layout page*/
#standard_layout{
	background-color: #fafafa;  
}

.main_page_nav{
  margin: 0px auto;
  max-width: 1100px;
  background-color: #fafafa;
}
/*end of standard layout page*/

#main_page{
	padding-top: 50px;
  /*background-color:#fafafa;*/
	background-color:#fff;
	height: 90%;
	margin: 0 auto;
	
}
.jumbotron{
	margin-bottom: 0;
}

.this-one{
	margin-bottom: 5px;
}

/* qualifications  */

#qual_container{
	background-color: white;
	border-style: solid;
	border-width: 1px;
	border-color: #CCCCC0;
}
#qual_head{
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #eee;
}

#qual_left{
	border-right-style: solid;
	border-right-width: 2px;
	border-right-color: #eee;
	
}
#qual_form{
	min-height: 20px;

}

.gray_section{
	background-color: 'grey';
	opacity: 0.35;
	border: 1px solid #009fda;
}

/*display_subject _subject_search page*/
#search_submit_container{
	text-align: center;
}

#search_submit{
  color: #fff;
  background: linear-gradient(#2b99cf,#1a5d7e);
  background: -webkit-linear-gradient(#2b99cf,#1a5d7e);
  background: -o-linear-gradient(#2b99cf,#1a5d7e); 
  background: -moz-linear-gradient(#2b99cf,#1a5d7e);  
  border: 0px !important;
}

#search_submit:hover{
  color: #fff;
  background: linear-gradient(#288bbd,#1a5d7e) !important;
  background: -webkit-linear-gradient(#288bbd,#1a5d7e);
  background: -o-linear-gradient(#288bbd,#1a5d7e); 
  background: -moz-linear-gradient(#288bbd,#1a5d7e); 
}

.image_container{
	color: black;
	height: 125px !important;
}

.search_results_left{
	height: 125px;
	background-color: white;
	border-style: solid;
	border-width: 1px;
	/*margin-top: 9px;*/
	border-color: #E6E6E6;
}

.search_restuls_right{
	height: 125px;
	background-color: white;
	border-top: solid;	
	border-right: solid;
	border-bottom: solid;
	border-width: .1em;
	border-color: #E6E6E6;
	position: relative;
	/*margin-top: 9px;*/
}

.nopadding {
	padding: 0 !important;
	/*margin: 0 !important;*/
}

.results_photos{
	position: absolute;
	margin-right: 10px;
	clear: both;
}

.results_photos.front{
	z-index: 1;
}

.results_photos.back{
	z-index: 3;
	margin-top: 30px;
	margin-left: 15px;
	opacity: 0;
}

.search_results_row:hover {
	box-shadow: 2px 2px 10px #888888;
	
}

.search_results_row{
	margin: 9px;
}

.search_results_teachers_info{
	margin-left: 135px;
}

.search_results_teachers_name{
	font-family: "HelveticaNeue", "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.main_page_search_container{
	text-align: center;
}

.typeahead.subject{
	height: 38px;
	font-size: 22px;
  
}

.typeahead.county{
	height: 38px;
	font-size: 22px;
	
}

.review_container{
		
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	border-top: 1px solid #CCCCC0;
}
/*end of subject search page*/

/*teachers-area page opening times modal*/
.second_day{
	border-bottom: 1px solid #CCCCC0;
}

.modal-body.opening_times{
	padding: 0;
}
/*end of teachers-area page opening times modal*/

/*teachers work area*/
.row_teachers_area{
  padding-left: 10px;
}

/*end of teachers work area*/
/*show_teacher*/

.table_header{
	background-color: #fff;
}

.table_row{
	background-color: #fff;
}

#teacher_display_map{
	height: 350px;
	width: 100%;
	border: 1px solid #CCCCC0;
	margin-bottom: 5px;
}

.teachers_display_scheduler{
	height: 500px;
	width: 100%;
	border: 1px solid #CCCCC0;
	margin-bottom: 5px;
}

.dhx_cal_date.display_teachers_cal_date{
	padding-left: 5%;
	height:30px !important;
	line-height:30px !important;
	background:0 0;
	border:1px solid #CECECE;
	text-align: left !important;
}

.dhx_cal_container.teachers_display_scheduler{
	border: 1px solid #CCCCC0;
}

.row_teachers_area{
	height: 100%;
}
/*end of show_teacher page*/

/* teachers/show-teacher-to-user*/
.btn_book_now{
  color: white;
  background: -webkit-linear-gradient(#5cb85c, #398439);
  background: -webkit-linear-gradient(#5cb85c, #398439);
  background: -o-linear-gradient(#5cb85c, #398439); 
  background: -moz-linear-gradient(#5cb85c, #398439); 
  background: linear-gradient(#5cb85c, #398439)
}
.btn_book_now:hover{
  color: #fff;
  background: -webkit-linear-gradient(#48a548, #3f923f);
  background: -webkit-linear-gradient(#48a548, #3f923f);
  background: -o-linear-gradient(#48a548, #3f923f); 
  background: -moz-linear-gradient(#48a548, #3f923f); 
  background: linear-gradient(#48a548, #3f923f)
}

.booking_button_panel{
  border-style: solid;
  border-width: 1px;
  border-color: #CCCCC0;  
}

.booking_button_panel_heading{
  border-bottom: 1px solid #CCCCC0;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  -webkit-text-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  -moz-text-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  -o-text-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}

/* end of teachers/show-teacher-to-user*/

/* teach page*/
.teacher_registration_container{
	box-shadow: 2px 2px 5px #888888;
	width: 45%;
}

.teacher_registration_container.left{

	margin-right: 10px;
}

.teacher_registration_form{
	font-size: 14px;
}

form .glyphicon {
  top: 0;
}

.teach_page_login_link{
	color: #47a447;
}

/* end of teach page*/

/*teachers/teachers_area*/
#scheduler_here{
  box-shadow: 2px 2px 5px #888888;
}
/*end of teachers/teachers_area*/

/* login_modal page*/
.ds-btn li{ list-style:none; float:left; padding:10px; }
.ds-btn li a span{padding-left:15px;padding-right:5px;width:100%;display:inline-block; text-align:left;}
.ds-btn li a span small{width:100%; display:inline-block; text-align:left;}

/* end of login_modal page */

/* static/learn page. User registration*/
.teacher_reg_container{
  box-shadow: 2px 2px 5px #888888;
  padding-bottom: 5px;
}

.user_reg{
  width: 100%;
}

.user_reg_email{
  width: 95%;
  margin: 0 5px;
}

/* end of static/learn page. User registration*/

/* static/browse_categories*/

.category_browse_name{
  border-bottom: 1px solid #CCCCC0;
}

.category_browse_container{
  margin-bottom: 50px;
}

/* end of static/browse_categories*/

@media (min-width: 250px){
  body{
    width: 100%;
  }
  #display_teachers_cal_date{
    font-size: 12px;
  }
  .typeahead.subject{   /* keep subject search at 500px above 600px screens */
    width: 300px;
  }
  .typeahead.county{
    width: 300px;
  } 
}

@media (min-width: 400px) {
	#display_teachers_cal_date{
    font-size: 14px;
  }.typeahead.subject{   /* keep subject search at 500px above 600px screens */
    width: 375px;
  }
  .typeahead.county{
    width: 375px;
  } 
}

@media (min-width: 600px) {
  #display_teachers_cal_date{
    font-size: 16px;
  }  
}

@media (max-width: 649px) {
	.dhx_cal_date.teachers_area_cal_date{
  	visibility: hidden;
  }
}

@media (min-width: 650px) {
	#display_teachers_cal_date{
  	font-size: 17px !important;
  }
}

@media (min-width: 768px) {
  .btn_book_now {
	  font-size:16px;
    text-align: center;
  }
  .dhx_cal_date.teachers_area_cal_date{
  	font-size: 14px !important;
  }
  #display_teachers_cal_date{
    font-size: 18px !important;
  }
}
  
@media (min-width: 992px) {
  .btn_book_now {
	font-size:12px;
  text-align: center;
  }
  #display_teachers_cal_date{
  	font-size: 12px !important;
    padding-left: 2px !important;
  }
  .dhx_cal_date.teachers_area_cal_date{
  	font-size: 13px !important;
  }
}
 
@media (min-width: 1200px) {
  .btn_book_now {    
	font-size:16px;
	text-align: center;
  }
  #display_teachers_cal_date{
    font-size: 18px !important;
    
  }  
}

/*hack for firefox tables*/
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}
/*hack for firefox tables*/


/*Change navbar collapse to stop skewed buttons*/
@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-collapse.collapse.in {
      display: block!important;
  }
  .navbar-nav {
      float: none!important;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
}
/* end of Change navbar collapse to stop skewed buttons

/*welcome page*/
.stock_photo{
  position: absolute;
  margin-right: 10px;
  clear: both;
}

.stock_photo.front{
  z-index: 1;
}



/*end of welcome page