// Place all the styles related to the Teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//new 
.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.dropzone-container{
	margin-left: 30px;
}

#dropzone{
	min-height: 250px;
	
}
//end

// edit teachers personal info _form.html teachers folder

.panel-heading.teachers_info{
	overflow: hidden;
}

//your-location
#map_container{
	margin-top:20px;
}

#map_canvas{
	// width:500px;
	height:500px;
}

.coordsHinter{
	bottom: 0; left: 0;
	visibility: hidden;
	color: #ee5f5b;
}

//end of teachers-area

//lower nav buttons

.current_page{
	background-color: #51a351;
	color:white;
}
#teacherSetupNav{
	bottom: 0;
	
}
.lower_nav_buttons{
	float: left; width: auto;
	margin-right: 1px;
}