// Place all the styles related to the Teachers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//new 
.centered-form{
	margin-top: 60px;
}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}

.dropzone-container{
	// margin-left: 30px;
}

#dropzone{
	min-height: 250px;
	
}
//end

// edit teachers personal info _form.html teachers folder
.teacher_profile_pic_link{
	width: 125px;
}

.panel-heading.teachers_info{
	overflow: hidden;
}
// end of edit teachers personal info _form.html teachers folder

//your-location
#map_container{
	margin-top:20px;
}

.bla{
	padding: 0 !important;
}

.nav-tabs > li > a{
	background-color: #f5f5f5;
}

.coordsHinter{
	bottom: 0; left: 0;
	visibility: hidden;
	color: #ee5f5b;
}

.location_tab{
	padding: 0;
	margin: 0;
}

.delete_location{
	margin-bottom: 50px !important;
}

.prices_form{
	padding: 3px;
	border-bottom: 1px solid #CCCCC0;
	border-top: 1px solid #CCCCC0;
	
}

.location_forms_container{
	
	border: 1px solid #CCCCC0;
	
	
}
//end of teachers-area

//lower nav buttons

.current_page{
	background-color: #51a351;
	color:white;
}
#teacherSetupNav{
	bottom: 0;
	
}
.lower_nav_buttons{
	float: left; width: auto;
	margin-right: 1px;
}

// Move date-picker over bootstrap
#AnyTime--date{
	z-index:100000;
}

// block booking week selector
#no_of_weeks{
	display: none;
}

// teachers form page photos
.form_page_pic_collection{
	margin-bottom: 15px;
}
// end of teachers form page photos

// Teachers _form page _teachers_select_payment modal /view/teachers
.teacher_payment_registration_details{
	position: relative;
}

.paypal_reg_explanation{
	margin-bottom: 30px;
}

.paypal_email_form{
	bottom: 0px;
}

.stripe_reg_button{
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}

.teacher_select_payment_modal_body{
	padding-bottom: 50px;
}

// End of Teachers _form page _teachers_select_ppayment modal

// show_teacher_to_user page create_event_and_book.js
.payment_choice_error{
	color: red;
}

// End of show_teacher_to_user page create_event_and_book.js

// form.html form_address_col
.form_address_label_col{
	display: inline-block;
}
// end of form.html form_address_col

//Teachers _form page teachers_rates_form modal
.rate_update{
	background-color: #80c780;
}

//Teachers _form page teachers_rates_form modal



@media (max-width: 500px) {
	.map_canvas{
	// width:500px;
	height:300px;
	
	}
}

@media (min-width: 500px) {
	.map_canvas{
		height: 400px;
	}
}

@media (min-width: 992px) {
	.map_canvas{
	// width:500px;
	height:500px;
	
}

}