<div class="no_results_share_buttons_container">
	<h4>Couldn't find a teacher for this subject. We are currently seeking teachers in this field. If you know of anyone who 
		teaches this subject please share this website with them.</h4>
	<ul class="no-results-share-buttons">
	  <li class="mobile_share_buttons"><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.learnyourlesson.ie&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><img src="<%= asset_url('Facebook.png') %>"></a></li>
		  <li class="mobile_share_buttons"><a href="https://twitter.com/intent/tweet?source=https%3A%2F%2Fwww.learnyourlesson.ie&text=:%20https%3A%2F%2Fwww.learnyourlesson.ie" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img src="<%= asset_url('Twitter.png') %>"></a></li>
		  <li class="mobile_share_buttons"><a href="https://plus.google.com/share?url=https%3A%2F%2Fwww.learnyourlesson.ie" target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;"><img src="<%= asset_url('Google.png') %>"></a></li>
		  <li class="mobile_share_buttons"><a href="http://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fwww.learnyourlesson.ie&title=&summary=&source=https%3A%2F%2Fwww.learnyourlesson.ie" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' +  encodeURIComponent(document.title)); return false;"><img src="<%= asset_url('LinkedIn.png') %>"></a></li>
	</ul>

</div>